<h1>新規投稿</h1>
<%= form_with model: @list do |f| %>
<!-- 四行目は丁寧形　-->
<%#= form_with model: @list, url: '/lists', method: :post do |f| %>

  <% if @list.errors.any? %>
    <%= @list.errors.count %> 件のエラーが発生しました
    <% @list.errors.full_massage.each do |massage| %>
      <%= massage %>
    <%end%>
  <%end%>

  <h3>タイトル</h3>
  <%= f.text_field :title %>

   <h3>本文</h3>
  <%= f.text_area :body %>

  <h3>画像</h3>
  <%= f.file_field :image, accept: "image/*" %>
  <%= f.submit "新規投稿" %>

<%end%>

